.text {
    animation-name: example;
animation-duration: 3s;
}

@keyframes example {
from {opacity: 0;}
to {opacity: 1;}
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
    .Row{
        padding: 0 4% 0 4%;
        display: flex;
        justify-content: space-around;
        height: auto;
        margin-top:0;
    }
    .block-alum{
        padding: 2% 5%;
        width: 40%;
        margin: 1%;
        align-items: center;
    }
    .block-alum img{
        height: 300px;
         padding: 0 20px 20px 20px; 
         margin: 0 auto;
    } 
}